<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">




<mapper namespace="com.boot.dao.CartMapper">

    <select id="selectCartByUserId" resultType="com.boot.pojo.Cart">
        SELECT * FROM cart WHERE userid=#{userid}
    </select>

    <insert id="addProductToCart" parameterType="com.boot.pojo.Cart">
        insert into cart values(#{id},#{imgUrl},#{goodsInfo},#{goodsParams},#{price},#{goodsCount}
        ,#{singleGoodsMoney},#{userid},#{productid},#{skus})
    </insert>


    <select id="selectCartByCartId" resultType="com.boot.pojo.Cart">
        select * from cart where id=#{cartid}
    </select>


    <update id="updateCountAndTotalPrice">
        update cart set goodsCount = #{goodsCount} ,singleGoodsMoney=#{singleGoodsMoney}
        where id=#{id}
    </update>
    
</mapper>