<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="com.boot.dao.ClassifyMapper">


    <select id="selectAllClassify" resultType="com.boot.pojo.Classify">
        select * from classify
    </select>

    <select id="selectClassifyByid" resultType="com.boot.pojo.Classify">
        select * from classify where id=#{id}
    </select>


    <insert id="insertClassify" parameterType="com.boot.pojo.Classify">
        insert into classify values(#{id},#{text},#{isNav})
    </insert>

    <update id="updateClassify" parameterType="com.boot.pojo.Classify">
        update classify set text=#{text} ,isNav=#{isNav} where id=#{id}
    </update>

    <delete id="deleteClassify">
        delete from classify where id=#{id}
    </delete>

</mapper>