<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="com.boot.dao.ProductMapper">

    <resultMap id="res1" type="com.boot.pojo.Product">
        <id column="productId" property="productId"/>
        <result column="name" property="name"/>
        <result column="price" property="price"/>
        <result column="img" property="img"/>
        <result column="number" property="number"/>
        <result column="introduce_img" property="introduce_img"/>
        <result column="content" property="content"/>
        <result column="userid" property="userid"/>
        <association property="brand" javaType="com.boot.pojo.Brand">
            <id column="b_id" property="id"/>
            <result column="brandName" property="brandName"/>
        </association>
        <association property="classify" javaType="com.boot.pojo.Classify">
            <id column="fl_id" property="id"/>
            <result column="text" property="text"/>
            <result column="isNav" property="isNav"/>
        </association>
    </resultMap>


    <select id="selectAllProduct" resultMap="res1">
        select
        product.productId,
        product.name,
        product.price,
        product.img,
        product.number,
        product.introduce_img,
        product.content,
        product.userid,
        product.b_id,
        brand.brandName,
        product.fl_id,
        classify.text,
        classify.isNav
        from product,brand,classify
        WHERE product.b_id=brand.id
        and product.fl_id=classify.id
    </select>

    <select id="selectmxdp" resultType="com.boot.pojo.Product">
        select productId,img from product where mxdp=1
    </select>

    <select id="selectwntj" resultType="com.boot.pojo.Product">
        select productId,img from product where wntj=1
    </select>

    <select id="selectIntroduceByPid" resultType="java.lang.String">
        select introduce_img from product where productId=#{productId}
    </select>

    <insert id="insertProduct" parameterType="com.boot.pojo.Product">
        insert into product values(#{productId},#{name},#{price},#{img},#{number},#{classify.id},#{brand.id},#{introduce_img},#{content},#{userid})
    </insert>

    <resultMap id="res2" type="com.boot.pojo.Product">
        <id property="productId" column="productId"/>
        <result column="name" property="name"/>
        <result column="price" property="price"/>
        <result column="img" property="img"/>
        <result column="number" property="number"/>
        <result column="introduce_img" property="introduce_img"/>
        <result column="content" property="content"/>
        <result column="userid" property="userid"/>
        <association property="brand" javaType="com.boot.pojo.Brand">
            <id column="b_id" property="id"/>
            <result column="brandName" property="brandName"/>
        </association>
        <association property="classify" javaType="com.boot.pojo.Classify">
            <id column="fl_id" property="id"/>
            <result column="text" property="text"/>
            <result column="isNav" property="isNav"/>
        </association>
    </resultMap>

    <select id="selectProductByPid" resultMap="res2">
        select
        product.productId,
        product.name,
        product.price,
        product.img,
        product.number,
        product.introduce_img,
        product.content,
        product.userid,
        product.b_id,
        brand.brandName,
        product.fl_id,
        classify.text,
        classify.isNav
        from product,brand,classify
        WHERE product.b_id=brand.id
        and product.fl_id=classify.id
        and productId=#{productId}
    </select>

    <update id="decrNumberByPid">
        update product set `number` =`number`-#{number} where productId=#{productId} and `number`>0
    </update>

    <select id="selectProductCount" resultType="int">
        select count(*) from product
    </select>


    <update id="updateProduct" parameterType="com.boot.pojo.Product">
        update product set `name`=#{name} ,price=#{price} , img=#{img}
        ,`number`=#{number},b_id=#{brand.id} ,fl_id=#{classify.id},content=#{content}
        where productId=#{productId}
    </update>

</mapper>