<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="com.boot.dao.ProductMapper">
    
    
    <select id="selectAllProduct" resultType="com.boot.pojo.Product">
        select * from product
    </select>

    <select id="selectmxdp" resultType="com.boot.pojo.Product">
        select productId,img from product where mxdp=1
    </select>

    <select id="selectwntj" resultType="com.boot.pojo.Product">
        select productId,img from product where wntj=1
    </select>

    <select id="selectIntroduceByPid" resultType="java.lang.String">
        select introduce_img from product where productId=#{productId}
    </select>

    <insert id="insertProduct" parameterType="com.boot.pojo.Product">
        insert into product values(#{productId},#{name},#{price},#{img},#{number},#{fl_id},#{b_id},#{introduce_img})
    </insert>

    <select id="selectProductByPid" resultType="com.boot.pojo.Product">
        select * from product where productId=#{productId}
    </select>

    <update id="decrNumberByPid">
        update product set `number` =`number`-#{number} where productId=#{productId}
    </update>

    <select id="selectProductCount" resultType="int">
        select count(*) from product
    </select>


</mapper>