<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.boot.dao.OrderMapper">


    <insert id="insertOrder" parameterType="com.boot.pojo.Order">
        insert into `order` values(
        #{id},#{imgUrl},#{goodsInfo},
        <if test="goodsParams!=null and goodsParams!=''">
            #{goodsParams},
        </if>
        #{goodsCount},#{singleGoodsMoney}
        ,#{realname},#{phone},#{address},
        <if test="created !=null and created !=''">
            #{created},
        </if>
        #{userid},#{productid},#{statusid})
    </insert>


    <select id="selectAllOrdersByUserId" resultType="com.boot.pojo.Order">
        select * from `order` where userid=#{userid}
    </select>

    <select id="selectOrderStatusById" resultType="com.boot.pojo.OrderStatus">
        select * from orderstatus where id=#{id}
    </select>

</mapper>