<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.boot.dao.OrderMapper">

    <resultMap id="res" type="com.boot.pojo.Order">
        <id column="id" property="id"/>
        <result column="imgUrl" property="imgUrl"/>
        <result column="goodsInfo" property="goodsInfo"/>
        <result column="goodsParams" property="goodsParams"/>
        <result column="goodsCount" property="goodsCount"/>
        <result column="singleGoodsMoney" property="singleGoodsMoney"/>
        <result column="realname" property="realname"/>
        <result column="phone" property="phone"/>
        <result column="address" property="address"/>
        <result column="created" property="created"/>
        <result column="userid" property="userid"/>
        <result column="productid" property="productid"/>
        <association property="orderStatus" javaType="com.boot.pojo.OrderStatus">
            <id column="statusid" property="id"/>
            <result column="status" property="status"/>
        </association>

    </resultMap>


    <insert id="insertOrder" parameterType="com.boot.pojo.Order">
        insert into `order` values(
        #{id},#{imgUrl},#{goodsInfo},
        <if test="goodsParams!=null and goodsParams!=''">
            #{goodsParams},
        </if>
        #{goodsCount},#{singleGoodsMoney}
        ,#{realname},#{phone},#{address},
        <if test="created !=null and created !=''">
            #{created},
        </if>
        #{userid},#{productid},#{orderStatus.id})
    </insert>


    <select id="selectAllOrdersByUserId" resultMap="res">
    SELECT
    `order`.id,
    `order`.imgUrl,
    `order`.goodsInfo,
    `order`.goodsParams,
    `order`.goodsCount,
    `order`.singleGoodsMoney,
    `order`.realname,
    `order`.phone,
    `order`.address,
    `order`.created,
    `order`.userid,
    `order`.productid,
    `order`.statusid,
    orderstatus.`status`
    FROM `order`,orderstatus
    WHERE `order`.statusid=orderstatus.id
    </select>

    <select id="selectOrderStatusById" resultType="com.boot.pojo.OrderStatus">
        select * from orderstatus where id=#{id}
    </select>


    <select id="selectOrderCount" resultType="int">
        select count(*) from `order`
    </select>

    <select id="selectOrderCountById" resultType="int">
        select count(*) from `order` where userid=#{userid}
    </select>

    <select id="selectDealMoneyByCreated" resultType="java.math.BigDecimal">
    SELECT
	sum(singleGoodsMoney)
        FROM
	`order`
        WHERE
	(
		datediff ( created,#{created} ) = 0
	)
    </select>

    <select id="selectNowDate" resultType="java.lang.String">
        select DATE_SUB(curdate(),INTERVAL 0 DAY) day7
    </select>


    <select id="selectDateBysevenDay" resultType="java.lang.String">
        select DATE_SUB(curdate(),INTERVAL 6 DAY) day1 union
        select DATE_SUB(curdate(),INTERVAL 5 DAY) day2 union
        select DATE_SUB(curdate(),INTERVAL 4 DAY) day3 union
        select DATE_SUB(curdate(),INTERVAL 3 DAY) day4 union
        select DATE_SUB(curdate(),INTERVAL 2 DAY) day5 union
        select DATE_SUB(curdate(),INTERVAL 1 DAY) day6 union
        select DATE_SUB(curdate(),INTERVAL 0 DAY) day7;
    </select>


    <select id="selectAllOrderBylimit" resultMap="res">
    SELECT
    `order`.id,
    `order`.imgUrl,
    `order`.goodsInfo,
    `order`.goodsParams,
    `order`.goodsCount,
    `order`.singleGoodsMoney,
    `order`.realname,
    `order`.phone,
    `order`.address,
    `order`.created,
    `order`.userid,
    `order`.productid,
    `order`.statusid,
    orderstatus.`status`
    FROM `order`,orderstatus
    WHERE `order`.statusid=orderstatus.id
    ORDER BY created desc LIMIT #{page} , #{limit}
    </select>


    <select id="selectOrderById" resultMap="res">
    SELECT
    `order`.id,
    `order`.imgUrl,
    `order`.goodsInfo,
    `order`.goodsParams,
    `order`.goodsCount,
    `order`.singleGoodsMoney,
    `order`.realname,
    `order`.phone,
    `order`.address,
    `order`.created,
    `order`.userid,
    `order`.productid,
    `order`.statusid,
    orderstatus.`status`
    FROM `order`,orderstatus
    WHERE `order`.statusid=orderstatus.id
    and `order`.id =#{id}
    </select>

    
    <update id="updateOrderStatus">
        update `order` set statusid=#{statusid} where id=#{id}
    </update>

    <select id="selectAllOrderBylimitAndId" resultMap="res">

    SELECT
    `order`.id,
    `order`.imgUrl,
    `order`.goodsInfo,
    `order`.goodsParams,
    `order`.goodsCount,
    `order`.singleGoodsMoney,
    `order`.realname,
    `order`.phone,
    `order`.address,
    `order`.created,
    `order`.userid,
    `order`.productid,
    `order`.statusid,
    orderstatus.`status`
    FROM `order`,orderstatus
    WHERE `order`.statusid=orderstatus.id
    and `order`.userid=#{userid}
    ORDER BY created desc LIMIT #{page} , #{limit}

    </select>


    <select id="selectOrderCountByid" resultType="int">
        select count(*) from `order` where `order`.userid=#{userid}
    </select>



    <select id="selectReturnGoods" resultMap="res">

    SELECT
    `order`.id,
    `order`.imgUrl,
    `order`.goodsInfo,
    `order`.goodsParams,
    `order`.goodsCount,
    `order`.singleGoodsMoney,
    `order`.realname,
    `order`.phone,
    `order`.address,
    `order`.created,
    `order`.userid,
    `order`.productid,
    `order`.statusid,
    orderstatus.`status`
    FROM `order`,orderstatus
    WHERE `order`.statusid=orderstatus.id
	and (`order`.statusid=5 OR `order`.statusid=6)
    </select>


    <select id="selectReturnGoodsCount" resultType="int">

	SELECT
	COUNT(*)
    FROM `order`
    WHERE `order`.statusid=5 OR `order`.statusid=6

    </select>


    <select id="selectReturnGoodsById" resultMap="res">
    SELECT
    `order`.id,
    `order`.imgUrl,
    `order`.goodsInfo,
    `order`.goodsParams,
    `order`.goodsCount,
    `order`.singleGoodsMoney,
    `order`.realname,
    `order`.phone,
    `order`.address,
    `order`.created,
    `order`.userid,
    `order`.productid,
    `order`.statusid,
    orderstatus.`status`
    FROM `order`,orderstatus
    WHERE `order`.statusid=orderstatus.id
	and (`order`.statusid=5 OR `order`.statusid=6)
	AND `order`.id=#{id}
    </select>


    <select id="selectSingleGoodsMoneyTop7" resultType="java.math.BigDecimal">
        SELECT singleGoodsMoney FROM `order` ORDER BY singleGoodsMoney desc LIMIT 0,7
    </select>




</mapper>