<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">




<mapper namespace="com.boot.dao.UserMapper">

    <select id="selectPasswordByuserName" resultType="java.lang.String">
        select password from t_user where username=#{username}
    </select>

    <select id="selectUserIdByName" resultType="long">
        select id from t_user where username=#{username}
    </select>

    <select id="selectUserMoneyByUserId" resultType="java.math.BigDecimal">
        select money from t_user where id=#{userid}
    </select>

    <update id="decrMoneyByUserId">
        update t_user set money = money-#{money} where id=#{userid} and money>0
    </update>


    <insert id="insertUser" parameterType="com.boot.pojo.User">
        insert into t_user values (#{id},#{username},#{password},#{money},#{email},#{date}
        ,#{valid})
    </insert>

    <select id="selectUserCount" resultType="int">
        select count(*) from t_user
    </select>


    <update id="incrMoneyByUserId">
        update t_user set money = money+#{money} where id=#{userid}
    </update>

    <resultMap id="res1" type="com.boot.pojo.User">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="money" column="money"/>
        <result property="email" column="email"/>
        <result property="date" column="created"/>
        <result property="valid" column="valid"/>
        <association property="UserAuthority" javaType="com.boot.pojo.UserAuthority">
            <result property="authority_id" column="authority_id"/>
        </association>
        <association property="userDetail" javaType="com.boot.pojo.UserDetail">
            <result property="sex" column="sex"/>
            <result property="signature" column="signature"/>
            <result property="icon" column="icon"/>
        </association>

    </resultMap>


    <select id="selectAllUserInfo" resultMap="res1">
    SELECT
    t_user.id,
    t_user.username,
    t_user.money,
    t_user.email,
    t_user.created,
    t_user.valid,
    t_user_authority.authority_id,
    t_user_detail.sex,
    t_user_detail.icon,
    t_user_detail.signature
    FROM t_user,t_user_detail,t_user_authority
    WHERE t_user.id=t_user_authority.user_id
    AND t_user.id=t_user_detail.userid
    LIMIT #{page},#{limit}
    </select>



    <select id="selectUserInfoById" resultMap="res1">
    SELECT
    t_user.id,
    t_user.username,
    t_user.money,
    t_user.email,
    t_user.created,
    t_user.valid,
    t_user_authority.authority_id,
    t_user_detail.sex,
    t_user_detail.icon,
    t_user_detail.signature
    FROM t_user,t_user_detail,t_user_authority
    WHERE t_user.id=t_user_authority.user_id
    AND t_user.id=t_user_detail.userid
    AND t_user.id=#{userid}
    </select>


    <update id="updateValid">
        update t_user set valid = #{valid} where id=#{userid}
    </update>

    
    <update id="updateUserName">
        update t_user set username = #{username} where id=#{id}
    </update>


    <delete id="deleteUserById">
        delete from t_user  where id=#{id}
    </delete>


    <update id="updatePassword">
        update t_user set password = #{password} where id=#{id}
    </update>


    <select id="selectPassword" resultType="java.lang.String">
        select password from t_user where id=#{id}
    </select>


</mapper>