<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">




<mapper namespace="com.boot.dao.UserMapper">

    <select id="selectPasswordByuserName" resultType="java.lang.String">
        select password from t_user where username=#{username}
    </select>

    <select id="selectUserIdByName" resultType="long">
        select id from t_user where username=#{username}
    </select>

    <select id="selectUserMoneyByUserId" resultType="java.math.BigDecimal">
        select money from t_user where id=#{userid}
    </select>

    <update id="decrMoneyByUserId">
        update t_user set money = money-#{money} where id=#{userid}
    </update>


    <insert id="insertUser" parameterType="com.boot.pojo.User">
        insert into t_user values (#{id},#{username},#{password},#{money},#{email},#{date}
        ,#{valid})
    </insert>

</mapper>