<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">




<mapper namespace="com.boot.dao.UserAuthorityMapper">


    <insert id="insertUserAuthority" parameterType="com.boot.pojo.UserAuthority">
        insert into t_user_authority values(#{id},#{user_id},#{authority_id})
    </insert>


    <select id="selectAuthorityIdByUserId" resultType="int">
        select authority_id from t_user_authority where user_id=#{userid}
    </select>

    <update id="updateUserAuthority" parameterType="com.boot.pojo.UserAuthority">
        update t_user_authority set authority_id=#{authority_id}
        where user_id=#{user_id}
    </update>


</mapper>