<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">




<mapper namespace="com.boot.dao.UserDetailMapper">

    <insert id="insertUserDetail" parameterType="com.boot.pojo.UserDetail">

        insert into t_user_detail values (#{id},#{userid},#{sex},#{signature},#{icon})

    </insert>

    <update id="updateSex">
        update t_user_detail set sex = #{sex} where userid=#{userid}
    </update>

    <update id="updateSignature">
        update t_user_detail set signature = #{signature} where userid=#{userid}
    </update>


    <update id="updateIcon">
        update t_user_detail set icon = #{icon} where userid=#{userid}
    </update>

    <select id="selectUserDetail" resultType="com.boot.pojo.UserDetail">
        select * from t_user_detail where userid=#{userid}
    </select>


</mapper>