<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="com.boot.dao.SeckillMapper">

    <update id="decrSeckillNumber">
        update seckill set seckill_number = seckill_number-1 where seckill_id=#{seckillId}
        and seckill_number>0
    </update>

    <insert id="insertSeckillSuccess" parameterType="com.boot.pojo.SeckillSuccess">
        insert into seckill_success values (#{id},#{secKill.seckillId},#{createTime},#{state},#{userId})
    </insert>

    <resultMap id="res1" type="com.boot.pojo.Seckill">
        <id column="seckill_id" property="seckillId"/>
        <result property="seckillName" column="seckill_name"/>
        <result property="seckillNumber" column="seckill_number"/>
        <result property="price" column="price"/>
        <result property="img" column="img"/>
        <result property="limitCount" column="limit_count"/>
        <result property="startTime" column="start_time"/>
        <result property="endTime" column="end_time"/>
        <result property="createTime" column="create_time"/>
        <association property="user" javaType="com.boot.pojo.User">
            <id property="id" column="userid"/>
        </association>

    </resultMap>


    <select id="selectAllSeckill" resultMap="res1">
        select
        seckill.seckill_id,
        seckill.seckill_name,
        seckill.seckill_number,
        seckill.price,
        seckill.img,
        seckill.limit_count,
        seckill.start_time,
        seckill.end_time,
        seckill.create_time,
        seckill.userid
        from
        seckill

    </select>

    <resultMap id="res2" type="com.boot.pojo.SeckillSuccess">
        <id column="id" property="id"/>
        <result property="createTime" column="create_time"/>
        <result property="state" column="state"/>
        <result property="userId" column="user_id"/>
        <association property="secKill" javaType="com.boot.pojo.Seckill">
            <id column="seckill_id" property="seckillId"/>
            <result property="seckillName" column="seckill_name"/>
            <result property="price" column="price"/>
            <result property="img" column="img"/>
        </association>
    </resultMap>



    <select id="selectSeckillSuccessByUseridAndLimit" resultMap="res2">
        select
        seckill_success.id,
        seckill_success.create_time,
        seckill_success.state,
        seckill.seckill_id,
        seckill.seckill_name,
        seckill.price,
        seckill.img,
        seckill_success.user_id
        from seckill_success,seckill
        where seckill_success.seckill_id=seckill.seckill_id
        and seckill_success.user_id=#{userid}
        ORDER BY create_time desc
        limit #{page},#{size}

    </select>


    <select id="selectSeckillSuccessCountByUserid" resultType="int">
        select
        count(*)
        from seckill_success,seckill
        where seckill_success.seckill_id=seckill.seckill_id
        and seckill_success.user_id=#{userid}
    </select>

    <delete id="deleteSeckillSuccess">
        delete from seckill_success where id=#{id}
    </delete>


    <select id="selectAllSeckillByLimit" resultMap="res1">
        select
        seckill.seckill_id,
        seckill.seckill_name,
        seckill.seckill_number,
        seckill.price,
        seckill.img,
        seckill.limit_count,
        seckill.start_time,
        seckill.end_time,
        seckill.create_time,
        seckill.userid
        from
        seckill
        limit #{page},#{size}
    </select>


    <insert id="insertSeckill" parameterType="com.boot.pojo.Seckill">
        insert into seckill values(#{seckillId},#{seckillName},#{seckillNumber},#{price},#{img}
        ,#{limitCount},#{startTime},#{endTime},#{createTime},#{user.id})
    </insert>

    <update id="updateSeckill" parameterType="com.boot.pojo.Seckill">
        update seckill set seckill_name=#{seckillName},seckill_number=#{seckillNumber},
        price=#{price},
        <if test="img != ''">
            img=#{img},
        </if>

        limit_count=#{limitCount},start_time=#{startTime},
        end_time=#{endTime} where seckill_id=#{seckillId}
    </update>

    <delete id="deleteSeckill">
        delete from seckill where seckill_id=#{seckillId}
    </delete>

    <select id="selectSeckillByName" resultMap="res1">
        select
        seckill.seckill_id,
        seckill.seckill_name,
        seckill.seckill_number,
        seckill.price,
        seckill.img,
        seckill.limit_count,
        seckill.start_time,
        seckill.end_time,
        seckill.create_time,
        seckill.userid
        from
        seckill
        where seckill_name=#{seckillName}
    </select>


    <select id="selectAllSeckillCount" resultType="int">
        select count(*) from seckill
    </select>

    <select id="selectAllSeckillCountByName" resultType="int">
        select count(*) from seckill where seckill_name=#{seckillName}
    </select>

</mapper>
