<!DOCTYPE html>
<html ng-app="xmStoreApp" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1226">
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <!-- 默认的header name是X-CSRF-TOKEN -->
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>云商城-首页</title>
    <!--bootstrap-->
    <link rel="stylesheet" th:href="@{/static/resource/css/lib/bootstrap.min.css}"/>
    <!--css-->
    <link rel="stylesheet" th:href="@{/static/resource/css/reset.css}"/>
    <link rel="stylesheet" th:href="@{/static/resource/css/index.css}"/>
    <link rel="stylesheet" th:href="@{/static/resource/css/cart.css}"/>
    <link rel="stylesheet" th:href="@{/static/resource/css/home.css}"/>
    <link rel="stylesheet" th:href="@{/static/resource/css/home.search.css}"/>
    <link rel="stylesheet" th:href="@{/static/resource/css/login.css}"/>
    <link rel="stylesheet" th:href="@{/static/resource/css/buyNow.css}"/>
    <link rel="stylesheet" th:href="@{/static/resource/css/order.css}"/>
    <link rel="stylesheet" th:href="@{/static/resource/css/common/common.css}"/>
    <link rel="stylesheet" th:href="@{/static/js/directives/css/search.css}"/>
    <link rel="stylesheet" th:href="@{/static/js/directives/css/focusImg.css}"/>
    <link rel="stylesheet" th:href="@{/static/js/directives/css/focusImgMult.css}"/>
    <link rel="stylesheet" th:href="@{/static/js/directives/css/ulBox2.css}"/>
</head>
<body>

<div ui-view></div>

</body>
<!-- jquery.js angular.js-->
<script th:src="@{/static/resource/lib/jquery.min.js}"></script>
<script th:src="@{/static/resource/lib/angular.js}"></script>
<!-- ui-router local-storage -->
<script th:src="@{/static/resource/lib/angular-ui-router.min.js}"></script>
<script th:src="@{/static/resource/lib/swx-local-storage.js}"></script>
<!-- 资 源 引 入 -->
<script th:src="@{/static/component/layui/layui.js}"></script>
<script th:src="@{/static/component/pear/pear.js}"></script>
<!-- app.js -->
<script th:src="@{/static/js/app.js}"></script>
<script th:src="@{/static/js/module/home.js}"></script>
<script th:src="@{/static/js/module/login.js}"></script>
<script th:src="@{/static/js/module/register.js}"></script>
<script th:src="@{/static/js/module/cart.js}"></script>
<script th:src="@{/static/js/module/buyNow.js}"></script>
<script th:src="@{/static/js/module/order.js}"></script>
<script th:src="@{/static/js/directives/searchDic.js}"></script>
<script th:src="@{/static/js/directives/focusImgDic.js}"></script>
<script th:src="@{/static/js/directives/ulBoxDic.js}"></script>
<script th:src="@{/static/js/directives/goodsFilterDic.js}"></script>
<script th:src="@{/static/js/directives/checkboxDic.js}"></script>
<script th:src="@{/static/js/directives/breadcrumbsDic.js}"></script>
<script th:src="@{/static/js/service/httpService.js}"></script>
<script th:src="@{/static/js/service/util.service.js}"></script>
<script th:src="@{/static/js/service/loginService.js}"></script>
<script th:src="@{/static/js/service/cartService.js}"></script>
<script th:src="@{/static/js/filters/myFilter.js}"></script>
<script th:src="@{/static/js/common/plugin/xmInclude.js}"></script>

<script>
    /*单击出现爱心特效*/
    (function (window, document, undefined) {
        var hearts = [];
        window.requestAnimationFrame = (function () {
            return window.requestAnimationFrame ||
                window.webkitRequestAnimationFrame ||
                window.mozRequestAnimationFrame ||
                window.oRequestAnimationFrame ||
                window.msRequestAnimationFrame ||
                function (callback) {
                    setTimeout(callback, 1000 / 60);
                }
        })();
        init();

        function init() {
            css(".heart{width: 10px;height: 10px;position: fixed;background: #f00;transform: rotate(45deg);-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);}.heart:after,.heart:before{content: '';width: inherit;height: inherit;background: inherit;border-radius: 50%;-webkit-border-radius: 50%;-moz-border-radius: 50%;position: absolute;}.heart:after{top: -5px;}.heart:before{left: -5px;}");
            attachEvent();
            gameloop();
        }

        function gameloop() {
            for (var i = 0; i < hearts.length; i++) {
                if (hearts[i].alpha <= 0) {
                    document.body.removeChild(hearts[i].el);
                    hearts.splice(i, 1);
                    continue;
                }
                hearts[i].y--;
                hearts[i].scale += 0.004;
                hearts[i].alpha -= 0.013;
                hearts[i].el.style.cssText = "left:" + hearts[i].x + "px;top:" + hearts[i].y + "px;opacity:" + hearts[i].alpha + ";transform:scale(" + hearts[i].scale + "," + hearts[i].scale + ") rotate(45deg);background:" + hearts[i].color;
            }
            requestAnimationFrame(gameloop);
        }

        function attachEvent() {
            var old = typeof window.onclick === "function" && window.onclick;
            window.onclick = function (event) {
                old && old();
                createHeart(event);
            }
        }

        function createHeart(event) {
            var d = document.createElement("div");
            d.className = "heart";
            hearts.push({
                el: d,
                x: event.clientX - 5,
                y: event.clientY - 5,
                scale: 1,
                alpha: 1,
                color: randomColor()
            });
            document.body.appendChild(d);
        }

        function css(css) {
            var style = document.createElement("style");
            style.type = "text/css";
            try {
                style.appendChild(document.createTextNode(css));
            } catch (ex) {
                style.styleSheet.cssText = css;
            }
            document.getElementsByTagName('head')[0].appendChild(style);
        }

        function randomColor() {
            return "rgb(" + (~~(Math.random() * 255)) + "," + (~~(Math.random() * 255)) + "," + (~~(Math.random() * 255)) + ")";
        }
    })(window, document);
</script>

</html>