<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.boot.dao.CouponsRecordMapper">

    <insert id="insertCouponsRecord" parameterType="com.boot.pojo.CouponsRecord">
        insert into coupons_record values(#{id},#{couponsActivity.id},#{user_id},#{getTime},#{useType},NULL)
    </insert>

    <select id="selectCouponsCountByUserIdAndCouponsId" resultType="int">
        select count(*) from coupons_record where user_id=#{userid} and coupons_id=#{couponsid}
    </select>


    <resultMap id="res1" type="com.boot.pojo.CouponsRecord">
        <id column="id" property="id"/>
        <result column="user_id" property="user_id"/>
        <result column="get_time" property="getTime"/>
        <result column="use_type" property="useType"/>
        <result column="use_time" property="useTime"/>
        <association property="couponsActivity" javaType="com.boot.pojo.CouponsActivity">
            <id column="id" property="id"/>
            <result column="coupons_name" property="couponsName"/>
            <result column="coupons_count" property="couponsCount"/>
            <result column="amount" property="amount"/>
            <result column="limit_count" property="limitCount"/>
            <result column="min_point" property="minPoint"/>
            <result column="start_time" property="startTime"/>
            <result column="end_time" property="endTime"/>
            <result column="note" property="note"/>
            <result column="valid" property="valid"/>
        </association>

    </resultMap>

    <select id="selectCouponsRecordByUserIdAndLimit" resultMap="res1">
        select
        coupons_record.id,
        coupons_record.user_id,
		coupons_record.get_time,
        coupons_record.use_type,
        coupons_record.use_time,
        coupons_activity.coupons_name,
        coupons_activity.coupons_count,
        coupons_activity.amount,
        coupons_activity.limit_count,
        coupons_activity.min_point,
        coupons_activity.start_time,
        coupons_activity.end_time,
        coupons_activity.note,
        coupons_activity.valid
        from coupons_record,coupons_activity
        where coupons_record.coupons_id=coupons_activity.id
        <if test="usetype !=-1">
            AND coupons_record.use_type=#{usetype}
        </if>
        and coupons_record.user_id=#{userid}
        ORDER BY amount DESC
        LIMIT #{page},#{size}
    </select>



    <select id="selectCouponsRecord" resultMap="res1">
        select
        coupons_record.id,
        coupons_record.user_id,
        coupons_record.get_time,
        coupons_record.use_type,
        coupons_record.use_time,
        coupons_activity.coupons_name,
        coupons_activity.coupons_count,
        coupons_activity.amount,
        coupons_activity.limit_count,
        coupons_activity.min_point,
        coupons_activity.start_time,
        coupons_activity.end_time,
        coupons_activity.note,
        coupons_activity.valid
        from coupons_record,coupons_activity
        where coupons_record.coupons_id=coupons_activity.id
        AND coupons_record.use_type=#{usetype}
        and coupons_record.user_id=#{userid}
        and coupons_record.id=#{couponsid}
    </select>

    
    <update id="updateCouponsRecordUsetype">
        update coupons_record set use_type = #{usetype} ,use_time=#{usetime} where id=#{couponsid}
    </update>


</mapper>