<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">




<mapper namespace="com.boot.dao.RechargeCardMapper">

    <select id="selectOneRechargeCard" resultType="com.boot.pojo.RechargeCard">

        select * from rechargecard where cardNumber=#{cardNumber} and password=#{password}

    </select>

    <update id="updateCardStatus">
        update rechargecard set status = 1 where cardNumber=#{cardNumber} and password=#{password}
        and status=0
    </update>
    



</mapper>
